@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

button {
	background: none;
	border: none;
}

main {
	flex-direction: initial !important;
}

hr {
	margin: 20px 0px;
}

/* 화면 왼쪽 task, view calendar */
.demo-topbar+#external-events {
	top: 60px;
}

#external-events .fc-event {
	cursor: move;
	margin: 3px 0;
}

#calendar-container {
	position: relative;
	z-index: 1;
	width: 100%;
}

.fc .fc-scroller-liquid-absolute {
	position: inherit; /* ???  */
}

#calendar {
	max-width: 1100px;
	margin: 20px auto;
}

/* external-events 스타일 */
#external-events {
	padding: 10px;
	border-right: 1px solid #ccc;
	height: 100%;
	width: 20%;
	margin-left: 5%;
}

.calendar-checkbox {
	width: 100%;
	height: 40px;
}

.calendar-checkbox>span {
	margin-right: 9px;
}

#create-calendar-btn, #add-task-button {
	width: 170px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background: #2c3e50;
    color: #fff;
    font-size: initial;
    margin-bottom: 20px;
}

#create-calendar-form{
	padding: 10px;
}

#newCalendar-owner-input, #create-calendar-popup{
	outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 15px;
}

.admin-calendar-btn, #delete-calendar-button, #share-button,
	#update-calendar-button, #save-task-button, #save-newCalendar-button {
	border-radius: 3px;
    border: 1px solid #A0A0A0;
    background: #A0A0A0;
    color: #fff;
    font-size: small;
}

#save-task-button {
	height: 40px;
	margin-left: 10px;
	width: 80px;
}

.admin-calendar-btn {
	width: 55px;
	height: 25px;
}

#delete-calendar-button, #share-button, #update-calendar-button {
	width: 80px;
	height: 25px;
	margin-top: 5px;
}

.calendar-checkbox {
	display: flex;
	align-items: center;
}

.calendar-checkbox .calendar-checkbox-input {
	margin-right: 5px;
}

.close-icon {
	width: 30px;
	height: 30px;
	margin-right: -17px;
}

.button-container {
	display: flex;
	justify-content: end;
}

.button-container button {
	display: inline-block;
}

#add-task-button {
	margin-top: 20px;
}

/* Task 추가 팝업 스타일 */
#add-task-popup {
	margin: 20px;
	display: flex;
}

#add-task-popup input[type="text"] {
	width: 60%;
	padding: 10px;
	/* margin-bottom: 10px; */
}

#event-popup {
	position: fixed;
	z-index: 99;
	top: 360px;
	left: 844px; /* 변경된 위치 */
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #fff;
	border: 1px solid #bebebe;
	border-radius: 10px;
	text-align: left;
}

#admin-newCalendar-popup {
	position: fixed;
	z-index: 99;
	top: 360px;
	left: 484px;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #fff;
	border: 1px solid #bebebe;
	border-radius: 10px;
	text-align: left;
}

#admin-task-popup {
	position: fixed;
	z-index: 99;
	top: 360px;
	left: 484px;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #fff;
	border: 3px solid #006400;
	text-align: left;
}

#event-popup button {
	float: right;
}

#event-description {
	width: 90%;
	height: 120px;
}

#user-share-input, #new-calendar-name-input, #task-name-input {
	height: 30px;
	width: 300px;
	outline: none;
	border: none;
	border-bottom: 1px solid #bebebe;
	margin-right: 10px;
}

#task-title, #event-title-input, #start-date, #end-date{
	outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
    width: 135px;
    height: 40px;
    margin-bottom: 10px;
}

#delete-event-button, #close-event-button, #save-event-button{
	border-radius: 3px;
    border: 1px solid #A0A0A0;
    background: #A0A0A0;
    color: #fff;
    margin-left: 5px;
}

#calendars{
	border: 1px solid #bebebe;
	width: 135px;
}

#newCalendar-popup-title{
	color: #fff;
	font-size: 0.2rem;
}

/* lib css 수정 */
.fc .fc-toolbar.fc-header-toolbar {
	margin-top: 1.5em;
}