@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

/* 화면 왼쪽 task, view calendar */
.demo-topbar+#external-events {
	top: 60px;
}

#external-events .fc-event {
	cursor: move;
	margin: 3px 0;
}

#calendar-container {
	position: relative;
	z-index: 1;
	margin-left: 50px;
}

#calendar {
	max-width: 1100px;
	margin: 20px auto;
}

/* external-events 스타일 */
#external-events {
	padding: 10px;
	border: 1px solid #ccc;
	background: #eee;
    width: 50%;
    margin-left: 10%;
}

/* #create-calendar-btn {
	width: 50%;
	height: 30px;
    border-radius: 20px;
    background: #323232;
    color: white;
    border: none;
} */

#add-task-button{
	margin-top: 20px;
}

/* Task 추가 팝업 스타일 */
 #add-task-popup {
	display: none;
 }

#add-task-popup input[type="text"] {
	width: 60%;
	padding: 10px;
	margin-bottom: 10px;
}

#add-task-popup button {
	padding: 10px 20px;
	background: #fff;
	border: none;
	cursor: pointer;
}

#event-popup {
	position: fixed;
	z-index: 99; 
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #fff;
	border: 1px solid black;
/* 	width: 200px;
	height: 330px; */
	text-align: left;
}

#admin-newCalendar-popup{
	position: fixed;
    z-index: 99;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid black;
    text-align: left;
}

#admin-task-popup{
	position: fixed;
    z-index: 99;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid black;
    text-align: left;
}

#event-popup button{
	float: right;
}

#event-description {
	width: 90%;
	height: 120px;
}

/* 일정 저장 버튼 */
#save-button {
    position: absolute;
    right: 0;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    background: #323232;
    color: white;
    border: none;
    font-weight: 600;
}


/* lib css 수정 */
.fc .fc-toolbar.fc-header-toolbar{
	margin-top: 1.5em;
}

