@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
}

/* default */
html {
	height: 100%;
}

body {
	display: grid;
	grid-template: "header header header" 100px ". main ." auto
		"footer footer footer" 100px;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
}

h1 {
	font-family: 'Pretendard-Regular', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

p {
	font-family: 'Pretendard-Regular', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

a {
	font-family: 'Pretendard-Regular', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	color: rgb(29, 29, 29);
}

input::placeholder {
	color: gray;
	font-style: italic;
}

/* header */
header {
	grid-area: header;
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-between;
}

header img {
	width: 85px;
	height: 80px;
	margin: 10px;
}

header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
}

header .title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

header .sub-title {
	margin-right: 10px;
}

header .main-title {
	font-size: 30px;
	font-weight: 500;
}

/* main */
main {
grid-area: main;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.card-container {
display: flex;
gap: 100px;
}

.calendar-card, .todo-card {
display: flex;
flex-direction: column;
align-items: center;
width: 500px;
height: 700px;
border: 1px solid #bebebe;
border-radius: 50px;
margin-bottom: 40px;
transition: all 0.3s ease; /* 효과의 시간과 타입을 설정합니다. */
    position: relative; /* position 속성을 변경해야 상대 위치에서 움직일 수 있습니다. */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 기본 그림자 효과 */
}

.calendar-card:hover, .todo-card:hover{
	 top: -10px; /* 카드를 위로 움직입니다. */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 그림자를 더 크게 만듭니다. */
}

.card-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;
flex-grow: 1;
}

.div-calendar, .div-todoList {
align-items: center;
gap: 10px;
}

.image-wrapper {
display: flex;
align-items: center;
justify-content: center;
width: 300px;
height: 300px;
}

.image-wrapper img {
max-width: 100%;
max-height: 100%;
}

.card-title{
	font-size: xx-large;
    font-weight: bolder;
    color: #006400;
}

.calendar-card h2, .todo-card h2, .calendar-card h3, .todo-card h3 {
text-align: center;
}

.login-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.login-nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.login-nav li {
	margin: 0 10px;
	list-style: none;
}

.login-nav li:first-child {
	margin-right: 50px;
}

.login-nav li:last-child {
	margin-left: 50px;
}

.hovering .logout-btn:hover {
	color: #006400;
}


/* footer */
footer {
	grid-area: footer;
	background: #dcdcdc;
	font-size: 0.8rem;
    padding: 30px; 
    height: 120px;
}

footer strong{
	color: #000069;
}

footer>ul {
	padding-bottom: 10px;
	padding-top: 10px;
}

footer>ul>li {
	/* 각 리스트 inline-block(줄바꿈하지 않고, 각 크기(너비,높이)는 가지게 함) */
	display: inline-block;
	padding: 0 2%;
}

footer>ul>li>a {
	font-size: 13px;
}

div>p {
	font-size: 15px;
}

.cp{
	font-size: 12px;
}
#policy-box a{
	font-size: 15px;
	margin-right: 15px;
}

#policy-box, #company-info-box{
    /* text-align: center; */
    text-align: left;
    line-height: 5px;
}

#company-info-box{
	margin-top: 40px;
}

/* 약관 - 0704 희수 수정 */
.div-userTerm {
	padding: 40px;
	text-align: left;
}

.text_title h2 {
	font-size: 1.5rem;
}

.text_content p {
	font-size: 0.8rem;
}

/* 미디어 쿼리 */
@media ( min-width : 768px) {
	body {
		grid-template: "header header header" 100px "main main main" auto
			"footer footer footer" 100px;
	}
}

@media ( max-width : 768px) {
	main .div-calendar, main .div-todoList {
		width: 90%;
	}
}

/* 로그아웃 버튼 */
#logo-space {
	display: flex;
}

.logout-btn {
	padding: 12px 20px;
	background-color: white;
	color: black;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-size: 14px;
}

.logout-btn:hover {
	color: #566cf3;
}

.login-wrapper {
	width: 400px;
	height: 440px;
	padding: 40px;
	box-sizing: border-box;
	border: 2px solid #006400;
	border-radius: 6px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-wrapper>h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2.5rem;
	/* color: #6A24FE; */
	color: #006400;
	margin: 0 0 10px 0;
}

#login-form {
	padding-bottom: 30px;
}

#login-form>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
/* 	box-sizing: border-box; */
	margin: 8px 0;
		outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
	font-size: 14px;
}

#login-form>input::placeholder {
	color: #080808;
}

#submit-btn {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	margin-top: 20px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	background-color: #006400;
	cursor: pointer;
}

#login-form>button {
	font-size: 30px;
	margin-left: 50px;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
}

.findPassword {
	display: flex;
	justify-content: space-evenly;
}

.findPassword a {
	color: #003569;
	font-size: 12px;
	text-decoration: none;
}

.error {
	color: #ff003e;
	display: none;
	font-size: 12px;
}

.member-form>span {
	text-align: left;
	padding-left: 69px;
}

/* home, updateUserForm, join.jsp */
.home-btn {
	width: 100%;
	height: 48px;
	margin-top: 40px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	background-color: #006400;
	cursor: pointer;
}

.edit-member {
	width: 400px;
	padding: 40px;
	box-sizing: border-box;
	border: 2px solid #006400;
	border-radius: 6px;
	background-color: #fff;
}

.edit-member>h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2.5rem;
	color: #006400;
	margin: 0;
	margin-bottom: 20px;
}

.member-form>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-top: 16px;
	border: 1px solid #006400;
	border-radius: 6px;
	font-size: 14px;
}

.member-form>div {
	display: flex;
	padding: 8px 0;
}

.member-form>div>label {
	width: 90px;
	line-height: 48px;
	font-size: 13px;
	text-align: left;
}

.member-form>div>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
	font-size: 14px;
}

#update-pwd {
	text-align: center;
}

#UpdateUser>input[type="submit"] {
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	margin-top: 16px;
	border: 1px solid #006400;
	border-radius: 6px;
	font-size: 14px;
	cursor: pointer;
}

#deleteUser-btn {
	width: 100%;
	height: 48px;
	margin-top: 16px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	background-color: #006400;
	cursor: pointer;
}

#join-btn {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	margin-top: 20px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	background-color: #006400;
	cursor: pointer;
}

/* 회원탈퇴 페이지 */
.delete-box {
	width: 700px;
	padding: 20px;
	border: 2px solid #006400;
	border-radius: 40px;
}

.input-box>label {
	width: 90px;
	line-height: 48px;
	font-size: 13px;
	text-align: left;
}

.input-box {
	display: flex;
	width: 45%;
	margin: 10px auto;
	padding-right: 71px;
}

.input-box>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 6px;
	font-size: 14px;
}

.delete-btn {
	width: 40%;
	height: 48px;
	margin-top: 16px;
	box-sizing: border-box;
	border: 1px solid #006400;
	border-radius: 15px;
	color: #fff;
	font-size: 16px;
	background-color: lightgray;
}

.delete-title>h2 {
	font-size: 1.2rem;
}