@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: "LeferiPoint-WhiteObliqueA";
}

header {
    font-family: "WandohopeR";
}

* {
    margin: 0px;
    /* 전체의 값은 0으로 맞춰줌 */
    padding: 0px;
    /* 전체의 값을 0으로 맞춰줌 */
}

html {
    font-size: 12px;
}

body {
    /* width: 960px; */
    /*width: 90%;*/
    margin: 0px auto;
    /* 상하좌우 0 px */
    /* margin: 10px 5px; 상하 10px 좌우 5px */
    /* margin-top: 0px; 위에만 0px */
    /* margin: 0px auto; 자동으로 가운데로 맞춰준디 */
}

ul,
ol,
li {
    list-style: none;
    /* 목록 앞 없애줌 */
    margin: 0px;
    /* 목록 앞이 없어지더라도 공간을 안만들게 붙여줌 */
    padding: 0px;
    /* 목록 앞이 없어지더라도 공간을 안만들게 붙여줌 */
}

a {
    text-decoration: none;
    /* 및에 줄 없애줌 */
    color: black;
    /* 기본 글자 색깔을 검정으로 */
}

img {
    border: none;
    /* 그림의 테두리를 없애줌 */
    padding: 0px;
    margin: 0px;
}

.To-do-list {
    width: 14%;
    height: 1000px;
    background-color: #d73434;
    border: 2px solid black;
    float: left;
    margin-right: 3%;
}

.To-do-list>h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #fff;
    padding-bottom: 30%;
    padding-top: 10%;
}

.To-do-list li {
    text-align: center;
    font-size: 2rem;
}

.To-do-list p{
	font-size: 2.3rem
}

.check {
    width: 380px;
    height: 45px;
    margin-top: 3%;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #fff;
}

label,
input {
    font-size: 30px;
}

button {
    font-size: 30px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
#button{
	margin-right: 0;
}


#button1,
#button2,
#button3,
#button33,
#button4,
#button44 {
    width: 70%;
    margin-left: 3%;
    font-size: 2rem;
    margin-top: 40px;
}

#button33,
#button44 {
    width: 75%;
    font-size: 1.7rem;
}

#dateInput {
    font-size: 1.8rem;
}

#output {
    font-size: 20px;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

/*체크박스 색상변경*/
:root {
    accent-color: red;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: #d73434;
    height: 60px;
    padding: 8px;
}

td {
    height: 400px;
    background-color: #fff;
}

.Annual {
    background-color: darkgray;
    padding: 8px;
}

.progress {
    padding-top: 300px;
}



ol {
    margin-top: 40px;
    display: none;
    /* 기본적으로 ol 요소 숨김 */
}

p {
    margin-top: 10px;
    font-size: 1.9rem;
}

#text,
#dateInput,
#editText {
    margin-left: 10%;
    width: 80%;
}

/*삭제체크박스*/
.none {
    display: none;
    float: left;
    margin-top: 4px;

}

td>li {
    width: 70%;
    margin: 0px 15%;
}

/* 로그인 세션 */
.login-section {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-family: Arial, sans-serif;
	background-color: #fafafa;
}

/* 로그인 래퍼 스타일 */
.login-wrapper {
	width: 400px;
	height: 440px;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 6px;
	background-color: #fff;
	display:flex;
	flex-direction: column;
    justify-content: space-between;
}

/* 로그인 래퍼 내 제목 스타일 */
.login-wrapper>h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2.5rem;
	/* color: #6A24FE; */
	color: #d73434;
	margin: 0 0 10px 0;
}

/* 로그인 폼 내 입력 필드 스타일 */
#login-form>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #F8F8F8;
	font-size: 14px;
}

/* 로그인 폼 내 입력 필드의 플레이스홀더 스타일 */
#login-form>input::placeholder {
	color: #080808;
}

/* 로그인 폼 내 제출 버튼 스타일 */
#login-form>input[type="submit"] {
	color: #fff;
	font-size: 16px;
	background-color: #d73434;
	margin-top: 20px;
}

/* 로그인 폼 내 체크박스 스타일 */
#login-form>input[type="checkbox"] {
	display: none;
}

/* 로그인 폼 내 체크박스 레이블 스타일 */
#login-form>label {
	color: #999999;
}

/* 로그인 폼 내 체크박스 스타일 */
#login-form input[type="checkbox"]+label {
	cursor: pointer;
	padding-left: 26px;
	background-image: url("checkbox.png");
	background-repeat: no-repeat;
	background-size: contain;
}

/*체크박스 색상변경*/
:root {
	accent-color: red;
}

/* 로그인 폼 내 체크박스 선택된 스타일 */
#login-form input[type="checkbox"]:checked+label {
	background-image: url("checkbox-active.png");
	background-repeat: no-repeat;
	background-size: contain;

}

/* 비밀번호 찾기 링크 스타일 */
.findPassword a {
	color: #003569;
	font-size: 12px;
	text-decoration: none;
}

/* 로그인 영역 */
.error {
	color: red;
	display: none;
}

#login-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

#login-form li {
	list-style: none;
	padding: 0;
	margin: 5px;
}

/* 스타일 조정 */
#todo_area {
	width: 100%
}

.hidden {
    margin-top: 40px;
    display: none;
}

