@charset "UTF-8";
 @font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
div {
    font-family: "LeferiPoint-WhiteObliqueA";
}

header {
    font-family: "WandohopeR";
}

* {
	margin: 0px;
	/* 전체의 값은 0으로 맞춰줌 */
	padding: 0px;
	/* 전체의 값을 0으로 맞춰줌 */
}

html {
	font-size: 12px;
}

body {
	/* width: 960px; */
	/*width: 90%;*/
	margin: 0px auto;
	/* 상하좌우 0 px */
	/* margin: 10px 5px; 상하 10px 좌우 5px */
	/* margin-top: 0px; 위에만 0px */
	/* margin: 0px auto; 자동으로 가운데로 맞춰준디 */
}

ul, ol, li {
	list-style: none;
	/* 목록 앞 없애줌 */
	margin: 0px;
	/* 목록 앞이 없어지더라도 공간을 안만들게 붙여줌 */
	padding: 0px;
	/* 목록 앞이 없어지더라도 공간을 안만들게 붙여줌 */
}

a {
	text-decoration: none;
	/* 및에 줄 없애줌 */
	color: black;
	/* 기본 글자 색깔을 검정으로 */
}

img {
	border: none;
	/* 그림의 테두리를 없애줌 */
	padding: 0px;
	margin: 0px;
}


body{
    background-color: #f1ecec;
    
}

.To-do-list {
    width: 14%;
    height: 1000px;
    background-color: #d73434; 
    border: 2px solid black;
    float: left;
    margin-right: 3%;
}

.To-do-list > h1 {
    text-align: center;
font-family: 'Lobster', cursive;
font-size: 3rem;
color: #fff;
    padding-bottom: 30%;
    padding-top: 10%;
}

.To-do-list li {
    text-align: center;
    font-size: 2rem;
}

.check {
    width: 380px;
    height: 45px;
    margin-top: 3%;
    margin-left: 7%;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #fff;
}

label,input {
    font-size: 30px;
}

button {
    font-size: 30px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

#output {
    font-size: 20px;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

/*체크박스 색상변경*/
:root {
accent-color: red;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    text-align: center;
}
th{
    background-color: #d73434;
    height: 60px;
    padding: 8px;
}
td{
    height: 400px;
    background-color: #fff;
}
.Annual{
    background-color: darkgray;
    padding: 8px;
}

.progress{
    padding-top: 300px;
}

#button1,
#button2 {
    width: 70%;
    margin-left: 15%;
    font-size: 2rem;
    margin-top: 40px;
}

ol {
    margin-top: 40px;
    display: none; /* 기본적으로 ol 요소 숨김 */
}

p {
    margin-top: 10px;
    font-size: 1.9rem;
}

#text,#dateInput {
    margin-left: 10%;
    width: 80%;
}